.btn-start{
    background-color:whitesmoke;
    border: 2px solid #000080;
    color: #000080;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.5s;

}

.btn-start span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .btn-start span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  
.btn-start:hover span {
    padding-right: 25px;
  }



.btn-start:hover span:after {
    opacity: 1;
    right: 0;
  }

.btn-feedback{
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    border: 2px solid #000080;
    border-radius: 10px;
    background: #E6E6FA;
    font-size: 20px;
    font-weight: bold;
    color: #000080;
}

.btn-feedback:hover{
    background: #000080;
   color: white;
   cursor:pointer;
}

.btn-feedback:disabled{
    background: #B0C4DE;
    color: #000080;
    cursor: auto;
}

.btn-question{
    margin: 0 auto;
    padding: 5px;
    border: 2px solid  #000080;
    border-radius: 10px;
    background: white;
    font-size: 15px;
    font-weight: bold;
    color:  #000080;
}

.btn-question:hover{
    background: #E6E6FA;
    color: #000080;
    cursor:pointer;
}

.btn-result{
    margin: 0 auto;
    margin-left: 40%;
    margin-bottom: 20px;
    width: 20%;
    padding: 10px;
    border: 2px solid #000080;
    border-radius: 10px;
    background:#02fc4d;
    font-size: 15px;
    font-weight: bold;
    color:  #000080;       
}

.btn-result:hover{
    background:  rgb(2, 255, 44);
    color: #000080;
    cursor:pointer;
}

.btn-form{   
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 1px solid white;
    background: #000080;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-out;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    &:hover {
        background: #fff;
        color: #000080;
        border: 1px solid #000080;
    }
}

.btn-login{
    margin: 0 auto;
    width: 30%;
    padding: 5px;
    border: 2px solid #000080;
    border-radius: 10px;
    background:whitesmoke;
    font-size: 15px;
    font-weight: bold;
    color:  #000080
}

.btn-login:hover{
    background:  rgb(0, 37, 139);
    color: white;
    cursor:pointer;
}

.btn-close{
    margin: 0 auto;
    margin-left: 40%;
    margin-bottom: 20px;
    width: 20%;
    padding: 10px;
    border: 2px solid #000080;
    border-radius: 10px;
    background:#ff0000;
    font-size: 15px;
    font-weight: bold;
    color:  white
}

.btn-close:hover{
    background:  rgb(255, 68, 68);
    color: white;
    cursor:pointer;
}

.btn-close:disabled{
    background: rgb(134, 134, 134);
    color: #c6c6c6;
    border: 2px solid #000080;
    cursor: auto;
}

#cerchio {
    width: 10px;
    height: 10px;
    background: rgb(69, 253, 7);
    border-radius: 50%;
    margin: 0 auto;
    margin-right: 10px;
    margin-top: 25px;
}
 
.btn-like {
    width: 30px;
    height: 30px;  
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    border: 1px solid red;
    background-color: white;
    box-shadow: 0 0 10px #ccc;
    transition: all 0.3s ease-out
}

.btn-like:hover {
    background-color: white;
    border: 2px solid red;
    box-shadow: 0 0 10px #ccc;
    transform: scale(1.1);
    cursor: pointer;
}

.btn-like.invalid {
    background-color: #f5f5f5;
    color: #f5f5f5;
    box-shadow: none;
    border: none;
    cursor: auto;
}

.btn-like.invalid:hover {
    background-color: #f5f5f5;
    border: none;
    box-shadow: 0 0 10px #ccc;
    transform: scale(1);
    cursor: auto;
    box-shadow: none;
}

.btn-delete{
    border: none;
    background: none;
    color: red;
    font-size: 24px;
}

.btn-delete:hover{
    color: rgb(255, 0, 0);
    cursor: pointer;
    transform: scale(1.2);
}

.btn-delete.invalid {
    color: transparent;
    cursor: auto;
}

.btn-delete.invalid:hover {
    color: transparent;
    cursor: auto;
    transform: scale(1);
}

.questions-list{
   margin: 0 auto;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 10px;
   font-size: 13px;
   width: 80%;
   border-radius: 5px;
   background-color: #f5f5f5;
   align-content: center;
   transition: a;
   word-wrap: break-word;
   border: 1px solid #000080;   
   box-shadow: 0 0 10px #000080;
}

.questions-list.invalid {
    background-color: rgb(222, 222, 222);
    transition: all 0.3s ease-out;
    color: rgb(185, 185, 185);
    box-shadow: 0 0 10px #ccc;
    border: 1px solid #ccc;
}

.questions-list.invalid .btn-delete {
    color: rgb(185, 185, 185);
}

.questions-list.invalid .btn-delete:hover {
    color: rgb(185, 185, 185);
    cursor: auto;
    transform: scale(1);
}

.questions-list.invalid .btn-like {
    border: none;
    background-color: rgb(222, 222, 222);
    color: rgb(185, 185, 185);
    box-shadow: none;
    cursor: auto;
}

.questions-list.invalid .btn-like:hover {
    background-color: rgb(222, 222, 222);
    border: none;
    box-shadow: none;
    transform: scale(1);
    cursor: auto;
}

